<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soldesk.ex01.persistence.AttachMapper">
	<resultMap type="com.soldesk.ex01.domain.AttachVO"
		id="attachResultMap">
		<id property="attachId" column="ATTACH_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="attachPath" column="ATTACH_PATH" />
		<result property="attachRealName" column="ATTACH_REAL_NAME" />
		<result property="attachChgName" column="ATTACH_CHG_NAME" />
		<result property="attachExtension" column="ATTACH_EXTENSION" />
		<result property="attachDateCreated"
			column="ATTACH_DATE_CREATED" />
	</resultMap>

	<insert id="insert">
		INSERT INTO ATTACH
		VALUES
		(ATTACH_SEQ.NEXTVAL, (SELECT
		MAX(BOARD_ID) FROM BOARD2 WHERE BOARD_ID =
		ATTACH_ID), #{attachPath},
		#{attachRealName}, #{attachChgName},
		#{attachExtension},sysdate)
	</insert>

	<insert id="updateAttach">
		INSERT INTO ATTACH
		VALUES
		(ATTACH_SEQ.NEXTVAL, #{boardId}, #{attachPath},
		#{attachRealName},
		#{attachChgName},
		#{attachExtension},sysdate)
	</insert>
	
	<select id="selectByBoardId" resultMap="attachResultMap">
		SELECT * FROM ATTACH
		WHERE BOARD_ID = #{boardId}
	</select>

	<select id="selectByAttachId" resultMap="attachResultMap"> SELECT * FROM ATTACH
		WHERE ATTACH_ID = #{attachId}
	</select>
	<select id="selectIdList" resultType="Integer"> SELECT ATTACH_ID FROM
		ATTACH
	</select>

	<select id="selectYesterday" resultMap="attachResultMap">
		SELECT *
		FROM ATTACH
		WHERE
		TRUNC(ATTACH_DATE_CREATED) = TRUNC(SYSDATE - 1)
	</select>
	
	<delete id="delete"> DELETE FROM ATTACH WHERE BOARD_ID = #{boardId}
	</delete>
</mapper>
