<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soldesk.ex01.persistence.Board2Mapper">
	<resultMap type="com.soldesk.ex01.domain.Board2VO"
		id="boardResultMap">
		<id property="boardId" column="BOARD_ID" />
		<result property="categoryId" column="CATEGORY_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardRegistDate" column="BOARD_REGISTDATE" />
		<result property="boardReplyCount" column="BOARD_REPLY_COUNT" />
		<result property="attachId" column="ATTACH_ID" />
		<result property="recommend" column = "RECOMMEND"/>
	</resultMap>

	<insert id="insertBoard">
		<!-- 게시글 등록 -->
		INSERT INTO BOARD2 VALUES
		(BOARD_SEQ.NEXTVAL, #{categoryId},
		#{memberId}, #{boardTitle}, #{boardContent}, SYSDATE,
		0,
		BOARD_SEQ.CURRVAL)
	</insert>



	<select id="selectList" resultMap="boardResultMap">
		<!-- 전체 게시글 조회 -->
		SELECT * FROM BOARD2 ORDER BY BOARD_ID DESC
		<!-- SELECT BOARD_ID, BOARD_TITLE, BOARD_CONTENT, MEMBER_ID, BOARD_DATE_CREATED 
			FROM BOARD와 동일 -->
	</select>

	<select id="selectByTitle" resultMap="boardResultMap">
		<!-- 게시글 제목으로 검색 -->
		SELECT * FROM BOARD2 WHERE BOARD_TITLE LIKE '%${boardTitle}%' order by
		BOARD_ID desc
	</select>

	<select id="selectByContent" resultMap="boardResultMap">
		<!-- 게시글 내용으로 검색 -->
		SELECT * FROM BOARD2 WHERE BOARD_CONTENT LIKE '%${boardContent}%'
		order by BOARD_ID desc
	</select>

	<select id="selectByMember" resultMap="boardResultMap">
		<!-- 게시글 작성자로 검색 -->
		SELECT * FROM BOARD2 WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="selectDetail" resultMap="boardResultMap">
		<!-- 게시글 상세보기 -->
		SELECT * FROM BOARD2 WHERE BOARD_ID = #{boardId}
	</select>



	<update id="updateBoard">
		<!-- 특정 게시글 수정 -->
		UPDATE BOARD2 SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT =
		#{boardContent},
		BOARD_REGISTDATE = SYSDATE
		WHERE BOARD_ID = #{boardId}
	</update>

	<delete id="deleteBoard">
		<!-- 특정 게시글 삭제 -->
		DELETE BOARD2
		WHERE BOARD_ID = #{boardId}
	</delete>

	<update id="insertReplyCount">
		update board2 set board_reply_count =
		board_reply_count + 1 where board_id = #{boardId}
	</update>

	<update id="deleteReplyCount">
		update board2 set board_reply_count =
		board_reply_count - 1 where board_id = #{boardId}
	</update>

	<select id="selectListByPagination" resultMap="boardResultMap">
		SELECT * FROM (
		SELECT ROW_NUMBER() OVER (ORDER BY BOARD_ID DESC) AS RN,
		BOARD2.*
		FROM
		BOARD2
		)
		WHERE RN BETWEEN #{start} AND #{end} and category_id = 0
	</select>

	<select id="selectReverse" resultMap="boardResultMap">
		SELECT * FROM (
		SELECT ROW_NUMBER() OVER (ORDER BY BOARD_ID DESC) AS RN,
		BOARD2.*
		FROM
		BOARD2
		)
		WHERE RN BETWEEN #{start} AND #{end} and category_id = 1
	</select>

	<select id="selectStarrail" resultMap="boardResultMap">
		<!-- 게시글 등록 -->
		SELECT * FROM (
		SELECT ROW_NUMBER() OVER (ORDER BY BOARD_ID DESC) AS RN,
		BOARD2.*
		FROM
		BOARD2
		)
		WHERE RN BETWEEN #{start} AND #{end} and category_id = 2
	</select>

	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*)
		TOTAL_COUNT FROM BOARD2		
	</select>
	
	<update id="recommendIncrease">
		update board2 set recommend =
		recommend + 1 where board_id = #{boardId}
	</update>
	
</mapper>
