<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.ex01.persistence.CategoriMapper">
	<resultMap type="com.soldesk.ex01.domain.CategoriVO"
		id="CategoriResultMap">
		<id property="categoriId" column="CATEGORI_ID" />
		<result property="categoriTitle" column="CATEGORI_TITLE" />
	</resultMap>
	<insert id="insertCategori"> 
	INSERT INTO CATEGORI 
	VALUES (CATEGORI_SEQ.NEXTVAL,#{categoriTitle})
	</insert>
	<select id="selectCategoriList" resultMap="CategoriResultMap"> 
		SELECT * FROM CATEGORI
	</select>
	<select id="selectCategoriTitle" resultMap="CategoriResultMap"> 
		SELECT * FROM CATEGORI
		WHERE CATEGORI_TITLE = #{categoriTitle} 
	</select>
	<update id="updateCategoriTitle"> 
		UPDATE CATEGORI SET CATEGORI_
		TITLE =	#{categoriTitle} 
		WHERE CATEGORI_ID = #{categoriId}
	</update>
	<delete id="deleteCategori"> 
		DELETE FROM CATEGORI WHERE CATEGORI_ID = #{categoriId}
	</delete>
</mapper>