<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soldesk.ex01.persistence.RecommendMapper">
	<resultMap type = "com.soldesk.ex01.domain.RecommendVO" id = "recommendResultMap">
	<id property="recommendId" column="RECOMMEND_ID"/>
	<result property="boardId" column="BOARD_ID"/>
	<result property = "recommend" column="RECOMMEND"/>
	<result property = "decommend" column="DECOMMEND"/>
	</resultMap>
	
	<insert id ="insertRecommend">
		INSERT INTO RECOMMEND VALUES(RECOMMEND_SEQ.NEXTVAL,BOARD_SEQ.CURRVAL,0,0)
	</insert>
	
	<update id = "increaseRecommend">
		UPDATE RECOMMEND SET RECOMMEND = RECOMMEND + 1 WHERE BOARD_ID = #{boardId}
	</update>
	
	<update id = "increaseDecommend">
		UPDATE RECOMMEND SET DECOMMEND = DECOMMEND + 1 WHERE BOARD_ID = #{boardId}
	</update>
	
	<delete id = "deleteRecommend">
		DELETE RECOMMEND WHERE BOARD_ID = #{boardId}
	</delete>
	
	<select id = "selectRecommend" resultMap = "recommendResultMap">
		SELECT * FROM RECOMMEND WHERE BOARD_ID = #{boardId}
	</select>
</mapper>